<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Allow static files -->
        <rule name="IgnoreStaticFiles" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>
         <rule name="RewriteToIndex" stopProcessing="true">
          <action type="Rewrite" url="/PortalCustomizations/Overview/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>

